:root
{
	--preto: #000000;
	--branco: #ffffff;
	--azul-1: #1A6AC9;
	--azul-2: #0F4483;
	--marrom: #9A6852;
}


/* MENU PARA NAVEGAR */



/* DESTINO */



/* QUEM SOMOS */



/* SERVIÇOS */



/* CUIDADORES */



/* RODAPÉ */