*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	font-family: 'Montserrat', sans-serif;
}
:root
{
	--preto: #000000;
	--branco: #ffffff;
	--azul-1: #1A6AC9;
	--azul-2: #0F4483;
	--marrom: #9A6852;
}


/* MENU PARA NAVEGAR */

nav
{
	background: var(--marrom);
}
nav img
{
	margin-right: 4em;
}
nav a
{
	display: block;
	color: var(--branco);
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
}
nav a:hover
{
	color: var(--branco);
	opacity: 0.7;
}
nav ul#link_list
{
	gap: 6em;
}

/* DESTINO */
section#destino
{
	padding: 70px 0;
}
section#destino div#destino_esquerdo
{
	padding: 0 80px;
}
section#destino img.cachorro
{
	display: block;
	margin-right: auto;
	margin-left: auto;
}
section#destino h1
{
	font-weight: 600;
	font-size: 40px;
	line-height: 48px;
}
section#destino p
{
	width: 62%;
	margin-top: 30px;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}
section#destino a
{
	display: inline-block;
	margin-top: 180px;
	padding: 22px 25px;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	background-color: var(--azul-1);
	color: var(--branco);
	text-decoration: none;
	border-radius: 34px;
}
section#destino a:hover
{
	opacity: 0.86;
}
section#destino a span
{
	margin-right: 1em;
}


/* QUEM SOMOS */



/* SERVIÇOS */



/* CUIDADORES */



/* RODAPÉ */



/* ----- RESPONSIVO ----- */
@media only screen and (max-width: 992px)
{
	
	/* MENU PARA NAVEGAR */

	nav ul#link_list
	{
		padding: 30px 0px;
		gap: 2em;
	}
	nav img
	{
		margin-right: 1em;
	}
}