*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	font-family: 'Montserrat', sans-serif;
}
:root
{
	--preto: #000000;
	--branco: #ffffff;
	--azul-1: #1A6AC9;
	--azul-2: #0F4483;
	--marrom: #9A6852;
}


/* MENU PARA NAVEGAR */

nav
{
	background: var(--marrom);
}
nav img
{
	margin-right: 8em;
}
nav a
{
	display: block;
	color: var(--branco);
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
}
nav a:hover
{
	color: var(--branco);
	opacity: 0.7;
}
nav ul#link_list
{
	gap: 6em;
}

/* DESTINO */



/* QUEM SOMOS */



/* SERVIÇOS */



/* CUIDADORES */



/* RODAPÉ */



/* ----- RESPONSIVO ----- */
@media only screen and (max-width: 992px)
{
	nav ul#link_list
	{
		padding: 30px 0px;
		gap: 2em;
	}
}